{% extends "base.html" %} {% block title %} vnStat Dashboard {% endblock %} {% block content %}
<!--begin::App Content Header-->
<div class="app-content-header px-0">
  <div class="container-fluid">
    <div class="row">
      <div class="col-sm-6"><h3 class="mb-0">Interface List</h3></div>
    </div>
  </div>
</div>
<!--end::App Content Header-->
<div class="row">
  {% for interface in interfaces %}
  <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-3">
    <!-- Card structure -->
    <div class="card card-primary card-outline">
      <div class="card-header">
        <h3 class="card-title">Interface: {{ interface.name }}</h3>
        <div class="card-tools">
          <button type="button" class="btn btn-tool" data-lte-toggle="card-collapse">
            <i data-lte-icon="expand" class="bi bi-plus-lg"></i>
            <i data-lte-icon="collapse" class="bi bi-dash-lg"></i>
          </button>
        </div>
      </div>
      <div class="card-body">
        <table class="table table-sm table-borderless table-striped">
          <tbody>
            <tr>
              <th>Created</th>
              <td class="text-end">{{ interface.created }}</td>
            </tr>
            <tr>
              <th>Updated</th>
              <td class="text-end">{{ interface.updated }}</td>
            </tr>
            <tr>
              <th>Received</th>
              <td class="text-end">{{ interface.rxtotal }}</td>
            </tr>
            <tr>
              <th>Transferred</th>
              <td class="text-end">{{ interface.txtotal }}</td>
            </tr>
            <tr>
              <th>Total</th>
              <td class="text-end">{{ interface.alltime }}</td>
            </tr>
            <tr>
              <th>Active</th>
              <td class="text-end">{{ interface.active }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="card-footer">
        <a href="{{ url_for('interface', interface_name=interface['name']) }}" class="btn btn-{% if interface['active'] == 1 %}primary{% else %}secondary{% endif %} btn-small">
          More Information
        </a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
