<!-- templates/index.html -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interfaces</title>
    <link rel="stylesheet" href="{{ url_for('static', path='/css/style.css') }}" />
  </head>
  <body>
    <h1>Interface List</h1>

    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Name</th>
          <th>Active</th>
          <th>Created</th>
          <th>Updated</th>
          <th class="text-right">RX Total</th>
          <th class="text-right">TX Total</th>
          <th class="text-right">Total Usage</th>
        </tr>
      </thead>
      <tbody>
        {% for interface in interfaces %}
        <tr>
          <td>{{ interface.id }}</td>
          <td>{{ interface.name }}</td>
          <td>{{ interface.active }}</td>
          <td>{{ interface.created }}</td>
          <td>{{ interface.updated }}</td>
          <td class="text-right">{{ interface.rxtotal }}</td>
          <td class="text-right">{{ interface.txtotal }}</td>
          <td class="text-right">{{ interface.alltime }}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
